<%= render :partial => 'layouts/tab', :locals => {index: 1} %>
<div class="ch-content-wrap">
  <div class="ch-content-top png-fix">
    <div class="pad20 ch-dashboard-title">
      <h2 class="left">篮球部落</h2>
      <!--<span class="right">欢迎回来，篮球队长！</span>-->
    </div>
  </div>
  <div class="ch-content">
    <div class="pad20">
      <div class="clear">
        <div class="ch-block-wrap ch-block-wrap-m left">
          <div class="ch-block-title">
            <h3>最新邀战</h3>
          </div>
          <div class="ch-block-content pad10">
            <div class="ch-block-inner">
              <table width="100%" border="0" class="ch-spots ch-table">
                <% @challenges.each do |challenge| %>
                    <tr>
                      <td><img src="<%= map_image challenge.place.pic %>"/></td>
                      <td>
                        <h2><a href="#"><%= challenge.team.name  %></a></h2>
                        <h4><a href="#"><%= datetime_input_value challenge.challenge_date %></a> &gt; <a href="#"><%= challenge.place.name%></a></h4>
                      </td>
                      <td>
                        <div class="link-map-view">地图: <a href="#">查看</a></div>
                      </td>
                      <td>
                        <a href="#" class="ch-btn-a png-fix">应邀</a>
                      </td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="ch-block-wrap ch-block-wrap-s right">
        <div class="ch-block-title">
          <h3>最新球队</h3>
        </div>
        <div class="ch-block-content pad10">
          <ul class="clear ch-dashboard-event">
            <% @teams.each do |team| %>
                <li>
                  <span class="right"><%= datetime_value_with_ymd team.created_at%></span>
                  <span class="left ch-avatar"><img src="/css/images/front/avatar.jpg"/></span>

                  <h3><a href="#"><%= team.name %></a>
                    <br>
                    <a href="#">Starbucks Queen St</a>
                  </h3>
                </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="clear padt20">
        <div class="ch-block-wrap ch-block-wrap-m left">
          <div class="ch-block-title">
            <h3>最新约球</h3>
          </div>
          <div class="ch-block-content pad10">
            <div class="ch-block-inner">
              <table width="100%" border="0" class="ch-spots ch-table">
                <% @appointments.each do |appointment| %>
                    <tr>
                      <td><img src=<%= map_image %>/></td>
                      <td>
                        <h2><a href="#"><%= challenge.team.name  %></a></h2>
                        <h4><a href="#"><%= datetime_input_value challenge.challenge_date %></a> &gt; <a href="#"><%= challenge.place.name%></a></h4>
                      </td>
                      <td>
                        <div class="link-map-view">地图: <a href="#">查看</a></div>
                      </td>
                      <td>
                        <a href="#" class="ch-btn-a png-fix">应邀</a>
                      </td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>

        <div class="ch-block-wrap ch-block-wrap-s right">
          <div class="ch-block-title">
            <h3>手机客户端</h3>
          </div>
          <div class="ch-block-content">
            <p><img src="/css/images/front/pic-mobile.png" class="ch-app-download png-fix"/></p>

            <div class="pad10">
              <!--<p class="ch-block-p">With our iPhone app, keeping track of what you have done and where you have been has-->
                <!--never been easier!</p>-->
              <p class="center">
                <a href="#" class="ch-btn-a png-fix">&nbsp;&nbsp;立即下载IOS&nbsp;&nbsp;</a>
              </p>
              <p class="center">
                <a href="#" class="ch-btn-a png-fix">立即下载Android</a>
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="clear"></div>
    </div>

  </div>
  <div class="ch-content-bottom png-fix"></div>

</div>

