<div class="search_type cc mb10">
  <div class="h_a">用户/球队列表</div>
</div>

<div class="table_list">
  <table width="100%">
    <colgroup>
      <col/>
      <col/>
      <col/>
      <col/>
    </colgroup>
    <thead>
    <tr>
      <td>ID</td>
      <td>(用户/球队)名称</td>
      <td>星期</td>
      <td>开始时间－结束时间</td>
      <td>状态</td>
      <td>操作</td>
    </tr>
    </thead>
    <% @play_statuses.each do |status| %>
        <tr>
          <td><%= status.id %></td>
          <td><%= status.own.name %></td>
          <td><%= status.week_day %></td>
          <td><%= status.start_time %>－<%= status.end_time %></td>
          <td><%= play_status_text status.status %></td>
          <td>
            <a href="/manage/play_statuses/<%= status.id %>/edit" class="btn btn_success">编辑</a>
            <%= link_to '删除',
                        {:controller => :play_statuses, :action => 'destroy', :id => status.id},
                        {:method => :delete, :confirm => '你确定要删除此状态吗?', :class => 'btn btn_error'}
            %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
<div><a href="/manage/play_statuses/new" class="btn"><span class="add"></span>新增用户/球队状态</a></div>
<div class="p10 pages">
  <%= will_paginate @play_statuses %>
</div>