<%= render :partial => 'layouts/tab', :locals => {index: 2} %>
<div class="ch-content-wrap">
  <div class="ch-content-top png-fix">
    <div class="pad20 ch-dashboard-title">
      <h2 class="left">篮球邀战</h2>
      <a href="#" class="right">返回</a>
    </div>
  </div>
  <div class="ch-content">
    <div class="pad20">
      <div class="clear">
        <%= search_form_for @search, :url => '/challenges',
                            :html => {:method => :get} do |f| %>

            <ul class="ch-search">
              <!--<li>-->
              <!--<h2>查找</h2>-->
              <!--<p>Enter your spot’s details to show matching spots. Can’t find your spot in the search results? <a href="#">Add your spot now!</a></p>-->
              <!--</li>-->
              <li>

                <!--<label>开始时间</label>-->
                <!--<input class="input-text datetimepicker" name="" type="text">-->

                <%= f.label(:start, '开始时间') %>
                <input class="input-text datetimepicker" id="q_challenge_date_gteq" name="q[challenge_date_gteq]" size="30" type="text" value="<%= datetime_input_value params[:q][:challenge_date_gteq] unless params[:q].blank? %>">

                <p>e.g. 2012-01-07 15:30:00</p>
              </li>
              <li>
                <%= f.label(:end, '结束时间') %>
                <input class="input-text datetimepicker" id="q_challenge_date_lteq" name="q[challenge_date_lteq]" size="30" type="text" value="<%= datetime_input_value params[:q][:challenge_date_lteq] unless params[:q].blank? %>">

                <p>e.g. 2015-01-07 18:30:00</p>
              </li>
              <li>
                <%= f.label(:key, '关键字') %>
                <%= f.text_field :team_name_or_place_name_or_place_address_cont, class: 'input-text' %>
                <p>e.g. 篮球,金牛</p>
              </li>
              <li class="last">
                <button type="submit" class="ch-btn-a png-fix">搜索</button>
              </li>
            </ul>
        <% end %>
        <!--<div class="clear padt10">-->
        <!--<div class="ch-block-wrap">-->
        <!--<div class="ch-block-title">-->
        <!--<h3>Search Results</h3>-->
        <!--</div>-->
        <!--<div class="ch-block-content pad10">-->
        <!--<p class="center"><img alt="" src="/css/images/front/ajax-loader.gif"></p>-->
        <!--<p class="center">Searching...</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <% if @challenges.count > 0 %>
            <div class="clear padt10">
              <div class="ch-block-wrap">
                <div class="ch-block-title">
                  <h3>邀战列表</h3>
                </div>
                <div class="ch-block-content pad10">
                  <div class="ch-block-inner">
                    <table width="100%" border="0" class="ch-table ch-search-results">
                      <% @challenges.each do |challenge| %>
                          <tr>
                            <td class="ch-photo"><img width="85" alt="" src="/css/images/front/map.jpg"></td>
                            <td>
                              <h4><a href="#"><%= challenge.team.name %>邀战</a></h4>
                              <time><%= datetime_input_value challenge.challenge_date %></time>
                              <address>
                                <%= challenge.place.address %>
                              </address>
                            </td>
                            <td><strong>联系电话:</strong> <%= mobile_with_mask challenge.tel %></td>
                            <td><a class="link-map-view" href="#">查看地图</a></td>
                            <td><a class="ch-btn-a png-fix" href="#">应邀</a></td>
                          </tr>
                      <% end %>
                    </table>
                  </div>
                  <div class="pad20">
                    <div class="p10 pages">
                      <%= will_paginate @challenges %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% else %>
            <div class="clear padt10">
              <div class="ch-block-wrap">
                <div class="ch-block-title">
                  <h3>暂无邀战</h3>
                </div>
                <div class="ch-block-content pad10">
                  <p class="center"><img alt="" src="/css/images/front/ico-no.png"></p>

                  <p class="center gray">
                    <strong>亲，未找到合适邀战；请调整搜索条件后重新查询。</strong><br>
                    <!--您搜索的邀战暂不.<br>-->
                    <!--<a href="#">Try another search</a>, or <a href="#">add your spot manually</a>.-->
                  </p>
                </div>
              </div>
            </div>
        <% end %>

        <div class="clear"></div>
      </div>
    </div>

  </div>
  <div class="ch-content-bottom png-fix"></div>

</div>
