<div class="ch-form-content left">
  <h2 class="ch-form-title">输入邀战详情</h2>

  <div class="ch-field">
    <label>预约开始</label>

    <div class="ch-field-content">
      <p><input type="text" value="<%= datetime_input_value @challenge.start_time %>" name="start_time" required="required" class="input-text wider datetimepicker"> <span class="fun_tips"></span></p>

      <p><em>e.g. 2012-01-07 15:30:00</em></p>
    </div>
  </div>
  <div class="ch-field">
    <label>预约结束</label>

    <div class="ch-field-content">
      <p><input type="text" value="<%= datetime_input_value @challenge.end_time %>"  name="end_time" required="required" class="input-text wider datetimepicker" > <span class="fun_tips"></span></p>

      <p><em>e.g. 2012-01-07 15:30:00</em></p>
    </div>
  </div>
  <div class="ch-field">
    <label>邀战时间</label>

    <div class="ch-field-content">
      <p><input type="text" value="<%= datetime_input_value @challenge.challenge_date %>" name="challenge_date" required="required" class="input-text wider datetimepicker"> <span class="fun_tips"></span></p>

      <p><em>e.g. 2012-01-07 15:30:00</em></p>
    </div>
  </div><div class="ch-field">
  <label>联系电话</label>

  <div class="ch-field-content">
    <p><input type="text" value="<%= @challenge.tel %>" name="tel" class="input-text wider"> <span class="fun_tips"></span></p>

    <p><em>e.g. 15828144455</em></p>
  </div>
</div><div class="ch-field">
  <label>场地</label>

  <div class="ch-field-content">
    <p><input type="text" value="<%= @challenge.place.name unless @challenge.place.blank?  %>" name="place_name" class="input-text wider" required="required"> <span class="fun_tips"></span></p>
       <input type="hidden" name="place_id" value="<%= @challenge.place.id unless @challenge.place.blank? %>">
    <p><em>e.g. 川师篮球场</em></p>
  </div>
</div>
  <div class="ch-field">
    <label>描述</label>

    <div class="ch-field-content">
      <p>
        <textarea class="input-text wider"><%= @challenge.description %></textarea>
      </p>

      <p><em>e.g. 无兄弟，不篮球，再战篮坛</em></p>
    </div>
  </div>
  <div class="ch-field-sub">
    <button class="ch-btn-a png-fix">保存</button>
  </div>
</div>


<script type="text/javascript">
    $(function () {
        $("#nickname").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/manage/users/users_json.json",
                    dataType: "json",
                    data: {
                        nickname: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.user.nickname,
                                value: item.user.id
                            }
                        }));
                    }
                });
            },
            minLength: 1,
            delay: 500
        });
    })


</script>
